@import "tailwindcss";
@import "./reset.css";

body {
    background-color: #101010;
    color: #ffffff;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        sans-serif;
}
